*{
	color:#4f4f4f;
}

.m{
	background: transparent;
}

.pb_gradient_v1:before{
	background: transparent;
	content: none;
}

.cover-bg-indigo:before{
	background: transparent;
}

.section-home{
	background-image: url("https://via.placeholder.com/1920x1080");
}

.pb_slant-light:after, .pb_slant-white:after{
	content: none;
}

.logo{

}

.home__top-title{

}

.home__top-title .title-text{
	font-weight: bold;
}

.home__top-title .title-text h1{
	font-weight: bold !important;	
	font-size: 35px;
	font-style: italic;
	text-align: center;
}

.search-field{
	max-width: 976px;
    margin: auto;
}

.search-field .title-field{
	    width: calc(100% - 150px);
    display: inline-block;
    border: none;
    height: 94px;
    border-radius: 5px 0px 0px 5px;    
	border: 2px solid #a8cae5;
	padding: 5px 40px;
    font-size: 31px;
}

.search-field .title-field input{
	width: 100%;
}

.search-field .title-button{
	display: inline-block;
	width: auto;
	position: relative;
	vertical-align: top;
}

.search-field .title-button .btn{
	height: 92px;
    line-height: 3.5;
    position: relative;
    left: -4px;
    border-radius: 0px 5px 5px 0px;
    top: 1px;
}

.pb_cover_v3 a:hover, .pb_xl_py_cover a:hover{
	border-bottom: 2px solid transparent;
}

.section-featured{
	text-align: center;
	margin: 68px auto ;
}

.__ft{
	margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: #212529;
    font-size: 2rem;
    font-weight: 300 ;
}

.logo-2{
	display: none;
}

.navbar.awake .logo{
	display: none;
}

.navbar.awake .logo-2{
	display: block;
}

.section-slider{
	padding: 100px 50px;
	background-image: linear-gradient(to top left, #1caaff, #1271b1);
}

.wide-slider .item
{
	width: 390px;
	height: 390px;
	background: white;
	border-radius: 15px;
	position: relative;
	margin: auto; 
}

.wide-slider .item .bt-cont{
	padding: 10px 30px 0px 30px;
    position: absolute;
    bottom: 25px;
    width: 100%;
    height: 102px;
}

.wide-slider .item .bt-cont .btn{
	height: 100%;
    width: 100%;
    font-size: 29px;
    line-height: 2.5;
}

.wide-slider .item .item-cont{
	padding: 30px;
}

.wide-slider .item .item-cont .item-cont__title {
	padding-bottom: 30px;
    border-bottom: 2px solid #dcdcdc;
}

.wide-slider .item .item-cont .item-cont__title:after {
	/*content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	border-bottom: 2px solid #dcdcdc;*/
}

.wide-slider .item .item-cont .item-cont__title .img{
	width: 100px;
}

.wide-slider .item .item-cont .item-cont__title .img ,
.wide-slider .item .item-cont .item-cont__title .desc{
	display: inline-block;
	vertical-align: top;
}

.wide-slider .item .item-cont .item-cont__title .desc{
	padding: 11px 10px 16px 30px;
    font-size: 30px;
    width: calc(100% - 110px);
    line-height: 37px;
}

.wide-slider .item .item-cont .distance{
	font-size: 18px;
    margin-top: 38px;
    text-align: right;
    padding-right: 13px;
}

.wide-slider .item .item-cont .item-cont__title .img image{
	width: 100%;
}

.slick-dots{
	bottom: -85px;
}

.slick-dots li{

}

.slick-dots li.slick-active button:before{
	opacity: 1;
	background: white;
}

.slick-dots li button:before{
	color: transparent;
	opacity: 1;
	content: "";
	background: #99cdf2;

}

.slick-arrow{
	display: none !important;
}

.__pos{
	position: relative;
}

.__pos .bottom-btns{
	position: absolute;
    bottom: -90px;
    right: 0;
    margin-right: 35px;
    z-index: 10;
}

@media (min-width: 1200px){
	.container.__full{
	    max-width: 1840px;
	}
	.container.__full-abs{
		max-width: 100%;	
	}
}