@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

*{
	color:#4f4f4f;
	font-family: 'Roboto', sans-serif !important;
}

body{
	/*background-image: url("/web-design.jpg");*/
}

i {
	font-family: fontawesome !important;
}

.m{
	background: transparent;
}

.pb_gradient_v1:before{
	background: transparent;
	content: none;
}

.pb_navbar {
	padding-top: 33px;
}

.pb_navbar ul > li > a{
	color: #515151 !important;	
}

.pb_navbar .nav-link {
    font-size: 23px;
    padding-left: 2rem !important;
    padding-right: 1rem !important;
    padding-top: 39px;
}

.pb_navbar ul > li > a.active{
	color: #9d9ca1 !important;
}

.cover-bg-indigo:before{
	background: transparent;
}

.section-home{
	/*background-image: url("https://via.placeholder.com/1920x1080");*/
	/*background-image: url("/images/pl1920.png");*/
	background-image: url("/images/bg1.jpg");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;

}

.section-home .bg-cont{
	width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.section-home .bg-cont .white-overlay{
	position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.9;
}

.pb_slant-light:after, .pb_slant-white:after{
	content: none;
}

.section-home .container.__full{
    padding-top: 442px;

}

.logo{
	margin-top: -3px;
    margin-left: 6px;
}

.home__top-title{

}

.home__top-title .title-text{
	font-weight: bold;
	margin-bottom: 46px;
}

.home__top-title .title-text h1{
	font-weight: 900 !important;
    font-size: 61px;
    font-style: italic;
    text-align: center;
    color: #4c4c4c;
}

.btn-primary{
	background-color: #1ca1fc;
    border-color: #1ca1fc;
}

.search-field{
	max-width: 976px;
    margin: auto;
}

.search-field .title-field{
	outline: none;
	width: calc(100% - 213px);
    display: inline-block;
    border: none;
    height: 94px;
    border-radius: 10px 0px 0px 10px;
    border: 2px solid #a8cae5;
    padding: 5px 32px;
    font-size: 32px;
    
}

.search-field .title-field input{
	width: 100%;
}

.search-field .title-button{
	display: inline-block;
	width: auto;
	position: relative;
	vertical-align: top;
	width: 209px;
}

.search-field .title-button .btn{
	height: 92px;
    line-height: 2.5;
    position: relative;
    left: -4px;
    border-radius: 0px 10px 10px 0px;
    top: 1px;
    width: 100%;
    font-size: 30px;
    font-weight: 500;
}

.pb_cover_v3 a:hover, .pb_xl_py_cover a:hover{
	border-bottom: 2px solid transparent;
}

.section-featured{
	text-align: center;
    margin: 68px auto 59px auto;
}

.section-featured.__2{
	margin: 177px auto 59px auto;
}

.section-featured.__2 .__ft{
	margin-right: -72px;
    font-size: 2.28rem;
}

.__ft{
	margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.6;
    color: #3a3a3a;
    font-size: 38px;
    font-weight: 200;
    margin-right: 11px;
}

.__over{
	position: relative;
	z-index: 10;
}

.logo-2{
	display: none;
}

.navbar.awake .logo{
	display: none;
}

.navbar.awake .logo-2{
	display: block;
}

.__fx-l{
	margin-top: -15px;
    margin-left: -5px;
}

.section-slider{
	padding: 100px 50px 116px 50px;
	background-image: linear-gradient(to top left, #1caaff, #1271b1);
}

.wide-slider .item
{
	width: 389px;
	height: 389px;
	background: white;
	border-radius: 15px;
	position: relative;
	margin: auto; 
}

.wide-slider .item .bt-cont{
	padding: 10px 30px 0px 30px;
    position: absolute;
    bottom: 25px;
    width: 100%;
    height: 102px;
}

.wide-slider .item .bt-cont .btn{
	height: 100%;
    width: 100%;
    font-size: 29px;
    line-height: 2.5;
}

.wide-slider .item .item-cont{
	padding: 30px;
}

.wide-slider .item .item-cont .item-cont__title {
	padding-bottom: 30px;
    border-bottom: 2px solid #dcdcdc;
}

.wide-slider .item .item-cont .item-cont__title:after {
	/*content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	border-bottom: 2px solid #dcdcdc;*/
}

.wide-slider .item .item-cont .item-cont__title .img{
	width: 100px;
}

.wide-slider .item .item-cont .item-cont__title .img ,
.wide-slider .item .item-cont .item-cont__title .desc{
	display: inline-block;
	vertical-align: top;
}

.wide-slider .item .item-cont .item-cont__title .desc{
	padding: 11px 10px 16px 30px;
    font-size: 30px;
    width: calc(100% - 110px);
    line-height: 37px;
}

.wide-slider .item .item-cont .distance{
	font-size: 18px;
    margin-top: 38px;
    text-align: right;
    padding-right: 13px;
}

.wide-slider .item .item-cont .item-cont__title .img image{
	width: 100%;
}

.slick-dots{
	bottom: -97px;
}

.slick-dots li{
	    margin: 0 9px;
}

.slick-dots li.slick-active button:before{
	opacity: 1;
	background: white;
}

.slick-dots li button:before{
	color: transparent;
	opacity: 1;
	content: "";
	background: #99cdf2;
	width: 25px;
    height: 25px;

}

.slick-arrow{
	display: none !important;
}

.__pos{
	position: relative;
}

.__sp{
	padding-top: 56px;
	padding-left: 26px;
}

.__top{
	padding-top: 40px;
	line-height: 1.35;
}

.__custom-1{

}

.col.__sp h1{
	color: #4f4f4f;
	font-size: 3.06rem;
	font-weight: 400 !important;  
}

.__pos .bottom-btns{
	position: absolute;
    bottom: -101px;
    right: 0;
    margin-right: 11px;
    z-index: 10;
}

.__pos .bottom-btns .btn:first{
	background-color: #3faffb;
    border-color: #3faffb;
    padding: 0.8rem 3.4em;
}

.__pos .bottom-btns .btn:second{
	background-color: #3faffb;
    border-color: #3faffb;
    padding: 0.8rem 1.27em;
}

.__pos .bottom-btns .btn{

}

.section-features .clouds-bg{
	position: absolute;
    bottom: 48px;
    left: 0;
    margin-left: -174px;
}

.section-features .phone-img{
	text-align: center;
	position: relative;
    z-index: 10;
}

.section-features .phone-img img{
	margin: auto;
	width: 100%;
	max-width: 573px;
}

.section-features .bt-cont{
	width: 382px;
    height: 102px;
    margin-top: 84px;
    margin-left: 10px;
}

.section-features .bt-cont .btn{
	width: 100%;
    height: 100%;
    font-size: 38px;
    line-height: 2.3;
    border-radius: 10px;	
}

.section-features.__1{
	padding-bottom: 0em;
}

.section-features.__2 .col.__sp{
	padding-left: 106px;
	padding-top: 110px;
}

.section-features.__2 .bt-cont {
	margin: auto;
    margin-top: 87px;
    width: 382px;
    margin-left: 203px;
}

.section-features.__2{
	position: relative;
	background-image: url("/images/figure.jpg");
	background-position: right bottom; 
    background-repeat: no-repeat;
}

.section-features h2{
	font-weight: bold;
}

.section-vertical-slider{
	padding: 100px 50px;
	background: #eaf4fd;
}

/*.section-features.__2 .figure-img{
	position: absolute;
}*/

.bg-light-2{
	background-color: #f3f7f9 !important;
}

.pb_pricing_v1 {
    -webkit-box-shadow: 0px 23px 49px rgba(33, 54, 61, 0.1);
    box-shadow: 0px 23px 49px rgba(33, 54, 61, 0.1);
}

.section-articles{

}

.section-articles .article-item{
	padding: 0;
	max-width: 100%;
}

.section-articles .article-item .img-cont{
	max-width: 100%;
}

.section-articles .article-item .img-cont img{
	max-width: 100%;
}

.section-articles .blog-text{
	text-align: left;
	padding: 30px 23px;
	min-height: 210px;
}

.section-articles .blog-text .post-date {
    font-size: 14px;
    color: #259dfe;    
    margin-bottom: 15px;
    display: block;
    letter-spacing: 2px;
}

.section-articles .blog-text .blog-title{
	margin-bottom: 20px;
}

.section-articles .blog-text .blog-title a {
    color: #4abaff;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
}

.section-articles .blog-text .post-meta a {
    font-size: 13px;
    color: #75849a;
    margin-right: 25px;
}

.section-articles .blog-text .post-meta a span {
    color: #cbd3df;
}

.section-articles .blog-text .post-meta a i {
    color: #16d0c5;
}

footer .footer-widget .widget-title {
    margin-bottom: 30px;
    font-size: 20px;
    color: #20509e;    
    font-weight: 500;
}

.footer-widget ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-widget ul a {
    font-size: 16px;
    color: #75849a;
    display: block;
    margin-bottom: 12px;
    text-decoration: none;
}

footer .social .facebook {
    background: #4b6cd0;
}

footer .social .google {
    background: #f03b3b;
}

footer .social .instagram {
    background: #bb8950;
}

footer .social a:last-child {
    margin-right: 0;
}

footer .social .twitter {
    background: #49a7f3;
}

footer .social a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    padding-top: 5px;
    font-size: 18px;
}

footer .fa:before{
	color: white;
}

footer .nav-link{
	padding: inherit;	
}

@media (min-width: 1200px){
	.container.__full{
	    max-width: 1885px;
	    padding-right: 0px;
    	padding-left: 17px;
	}
	.container.__full-abs{
		max-width: 100%;
		margin-top: -14px;	
	}
	.container.__full.__custom-1{
		max-width: 1840px;
		margin-top: 119px;
	}
}


@media  (max-width: 1199px){
	.section-slider {
	    padding: 100px 50px 150px 50px;
	}
	.__pos .bottom-btns {
	    position: absolute;
	    bottom: -171px;
	    right: 0;
	    margin-right: 11px;
	    z-index: 10;
	    left: 0px;
	    margin: auto;
	    width: 234px;
	    height: 50px;
	}
	.section-features .clouds-bg{
		position: relative;
	    bottom: 0;
	    left: 0;
	    margin-left: 0;
	}
}

@media  (max-width: 991px){
	.section-features .bt-cont{
		margin: auto;
		margin-top: 84px;
		margin-bottom: 84px;
	}
	.__sp{
		padding-left: 15px;
	}
	.section-features.__2 .col.__sp{
		padding-left: 15px;
    	padding-top: 15px;
	}
	.section-features.__2 .bt-cont{
		margin: auto;
		margin-top: 84px;
	}
}

@media  (max-width: 554px){
	.search-field .title-field{
		display: block;
	    width: calc(100%);
	    border-radius: 10px;
	}
	.search-field .title-button{
		display: block;
		margin: auto;
    	margin-top: 28px;
	}
	.search-field .title-button .btn{
		border-radius: 10px;
	}
}

@media  (max-width: 540px){
	.section-slider {
	    padding: 100px 0px 150px 0px;
	}
}